@namespace Undersoft.SDK.Blazor.Components
@inherits PresenterComponent

<a href="#" class="layout-gotop" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-original-title="@TooltipText" @ref="GoTopElement">
    <i class="@Icon"></i>
</a>
