@namespace Undersoft.SDK.Blazor.Components
@inherits PresenterComponent

<div @attributes="@AdditionalAttributes" class="@ClassString" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
