@namespace Undersoft.SDK.Blazor.Components
@inherits PresenterModule
@attribute [JSModuleAutoLoader(JSObjectReference = true)]
@typeparam TValue

<span @attributes="AdditionalAttributes" id="@Id">&nbsp;</span>
