@namespace Undersoft.SDK.Blazor.Components
@inherits PresenterComponent

<div class="@ClassString" @ref="TransitionElement" @attributes="@AdditionalAttributes" style="@StyleString">
    @ChildContent
</div>
